In [ ]:
#| hide
from IPython.display import display

<img alt="Katlas logo" width="500" caption="Katlas logo" src="dataset/images/logo.png" id="logo"/>

# Katlas

> Predict kinase given a substrate sequence

## Install

Install the latest version through git

In [ ]:
!pip install git+https://github.com/sky1ove/katlas.git -Uqq

## Import

In [ ]:
from katlas.core import *

# Quick start

### Input sequences are all capital

In [ ]:
# For a single phosphorylation site sequence
predict_kinase('AAAAAAASGGAGSDN',**param4)

100%|██████████| 289/289 [00:00<00:00, 8321.29it/s]

calculated string: ['-7A', '-6A', '-5A', '-4A', '-3A', '-2A', '-1A', '0S', '1G', '2G', '3A', '4G', '5S', '6D', '7N']

kinase
PAK6     2.032
ULK3     2.032
PRKX     2.012
ATR      1.991
PRKD1    1.988
         ...
DDR2     0.928
EPHA4    0.928
TEK      0.921
KIT      0.915
FGFR3    0.910
Length: 289, dtype: float64

In [ ]:
# For a dataframe that contains many phosphorylation site sequences
df = Data.get_ochoa_site().head()
df.iloc[:,-2:]

          site_seq       gene_site
0  VDDEKGDSNDDYDSA  A0A075B6Q4_S24
1  YDSAGLLSDEDCMSV  A0A075B6Q4_S35
2  IADHLFWSEETKSRF  A0A075B6Q4_S57
3  KSRFTEYSMTSSVMR  A0A075B6Q4_S68
4  FTEYSMTSSVMRRNE  A0A075B6Q4_S71

In [ ]:
results = predict_kinase_df(df,'site_seq',**param4)
results

input dataframe has a length 5
Preprocessing
Finish preprocessing
Calculating position: [-7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

100%|██████████| 289/289 [00:00<00:00, 6727.01it/s]

kinase,SRC,EPHA3,FES,NTRK3,ALK,EPHA8,ABL1,FLT3,EPHB2,FYN,...,MEK5,PKN2,MAP2K7,MRCKB,HIPK3,CDK8,BUB1,MEKK3,MAP2K3,GRK1
0,0.991760,1.093712,1.051750,1.067134,1.013682,1.097519,0.966379,0.982464,1.054986,1.055910,...,1.314859,1.635470,1.652251,1.622672,1.362973,1.797155,1.305198,1.423618,1.504941,1.872020
1,0.910262,0.953743,0.942327,0.950601,0.872694,0.932586,0.846899,0.826662,0.915020,0.942713,...,1.175454,1.402006,1.430392,1.215826,1.569373,1.716455,1.270999,1.195081,1.223082,1.793290
2,0.849866,0.899910,0.848895,0.879652,0.874959,0.899414,0.839200,0.836523,0.858040,0.867269,...,1.408003,1.813739,1.454786,1.084522,1.352556,1.524663,1.377839,1.173830,1.305691,1.811849
3,0.803826,0.836527,0.800759,0.894570,0.839905,0.781001,0.847847,0.807040,0.805877,0.801402,...,1.110307,1.703637,1.795092,1.469653,1.549936,1.491344,1.446922,1.055452,1.534895,1.741090
4,0.822793,0.796532,0.792343,0.839882,0.810122,0.781420,0.805251,0.795022,0.790380,0.864538,...,1.062617,1.357689,1.485945,1.249266,1.456078,1.422782,1.376471,1.089629,1.121309,1.697524

### Input sequences are in phosphorylated status

In [ ]:
# For a single phosphorylation site sequence
predict_kinase('AAAAAAAsGGAGsDN',**param3)

100%|██████████| 289/289 [00:00<00:00, 7961.50it/s]

calculated string: ['-7A', '-6A', '-5A', '-4A', '-3A', '-2A', '-1A', '0s', '1G', '2G', '3A', '4G', '5s', '6D', '7N']

kinase
ULK3     1.987
PAK6     1.981
PRKD1    1.946
PIM3     1.944
PRKX     1.939
         ...
EPHA4    0.905
EGFR     0.900
TEK      0.898
FGFR3    0.894
KIT      0.882
Length: 289, dtype: float64

In [ ]:
# For multiple sequences in a dataframe
results = predict_kinase_df(df,'site_seq',**param3)
results

input dataframe has a length 5
Preprocessing
Finish preprocessing
Calculating position: [-7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

100%|██████████| 289/289 [00:00<00:00, 6732.43it/s]

kinase,SRC,EPHA3,FES,NTRK3,ALK,EPHA8,ABL1,FLT3,EPHB2,FYN,...,MEK5,PKN2,MAP2K7,MRCKB,HIPK3,CDK8,BUB1,MEKK3,MAP2K3,GRK1
0,0.942187,1.062372,1.012942,1.036534,0.970598,1.060625,0.921957,0.940844,1.015496,1.006311,...,1.279975,1.591025,1.618918,1.611436,1.310889,1.762673,1.269904,1.411423,1.456161,1.859033
1,0.826042,0.884647,0.861363,0.879727,0.790980,0.860212,0.764937,0.750248,0.841354,0.858896,...,1.117843,1.346198,1.364092,1.192704,1.486362,1.625154,1.224077,1.147452,1.151574,1.756206
2,0.789628,0.853326,0.804658,0.843276,0.835194,0.851050,0.781232,0.798309,0.808054,0.806939,...,1.373120,1.747072,1.410463,1.073286,1.331723,1.479208,1.283721,1.149730,1.245737,1.761680
3,0.646383,0.701740,0.676063,0.782448,0.729290,0.648563,0.697185,0.678297,0.687545,0.651732,...,1.030239,1.558569,1.619387,1.321234,1.394759,1.366344,1.306156,0.971825,1.384048,1.692299
4,0.695749,0.706868,0.697352,0.766069,0.739252,0.682100,0.703865,0.712811,0.703658,0.744865,...,1.039890,1.324106,1.344163,1.215167,1.363295,1.400055,1.283447,1.042570,1.098709,1.661380

### To replicate the results from PSPA

In [ ]:
predict_kinase('AAAAAAASPGAGSDN',**param1)

100%|██████████| 303/303 [00:00<00:00, 8537.44it/s]

calculated string: ['-5A', '-4A', '-3A', '-2A', '-1A', '0S', '1P', '2G', '3A', '4G']

kinase
P38D       6.735
JNK2       6.712
JNK1       6.144
JNK3       6.021
HIPK2      5.940
           ...
MRCKA     -6.985
MST1      -7.108
ALPHAK3   -7.623
RIPK2     -7.699
TTK       -8.061
Length: 303, dtype: float64

The score corresponds to the [log2(score) from PSPA](https://kinase-library.phosphosite.org/site?s=AAAAAAAS*PGAGSDN&pp=false&scp=true), with slight differences due to rounding.

In [ ]:
# For multiple sequences in a dataframe
results = predict_kinase_df(df,'site_seq',**param1)
results

input dataframe has a length 5
Preprocessing
Finish preprocessing
Calculating position: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

100%|██████████| 303/303 [00:00<00:00, 6683.64it/s]

kinase,AAK1,ACVR2A,ACVR2B,AKT1,AKT2,AKT3,ALK2,ALK4,ALPHAK3,AMPKA1,...,VRK1,VRK2,WNK1,WNK3,WNK4,YANK2,YANK3,YSK1,YSK4,ZAK
0,-10.959900,-0.580989,0.328868,-3.890850,-3.590503,-5.312027,0.813786,-0.559382,-0.932736,-2.607226,...,-4.682274,-2.854275,-1.668666,-1.526785,-2.964575,-2.877200,-1.792244,-6.282651,-1.715336,-3.204281
1,-6.787549,-0.166112,0.306884,-5.885999,-4.786083,-6.575957,1.561436,-0.865154,-3.399169,-3.260798,...,-5.669906,-2.817085,-4.071192,-3.393741,-5.096516,-1.874000,-1.479976,-8.708810,-3.708147,-6.092628
2,-9.030938,1.231686,1.774661,-6.164209,-5.446345,-8.329813,0.777783,-1.355417,-0.928937,-4.998190,...,-5.832088,-3.243278,-4.249323,-2.749652,-5.053019,0.581384,-0.502630,-6.448245,-1.897494,-2.846533
3,-4.849113,2.271636,2.057240,-2.886034,-2.379830,-3.634907,1.547144,2.735341,-2.825794,-1.696886,...,-2.757951,-1.699232,-1.725384,-0.091196,-0.672545,0.313278,-0.207212,-2.315848,-0.053572,-1.117657
4,-6.596842,-1.387696,-0.956218,-2.834231,-3.794276,-4.968521,-1.862002,-1.717226,-2.653170,-3.514512,...,-1.546328,-1.457323,-1.277532,0.510635,-1.045845,-0.314193,-1.023331,-2.482345,-2.227114,-1.592725

## Datasets of phosphorylation sites

### CPTAC pan-cancer phosphoproteomics

In [ ]:
df = Data.get_cptac_ensembl_site()

### [Ochoa et al. dataset](https://www.nature.com/articles/s41587-019-0344-3)

In [ ]:
df = Data.get_ochoa_site()

### PhosphoSitePlus

In [ ]:
df = Data.get_pplus_human_site()

### Unique sites of combined Ochoa & PhosphoSitePlus

In [ ]:
df = Data.get_combine_site_pplus_ochoa()

## Site example

***All capital - 15 length (-7 to +7)***

- QSEEEKLSPSPTTED
- TLQHVPDYRQNVYIP
- TMGLSARyGPQFTLQ

***All capital - 10 length (-5 to +4)***

- SRDPHYQDPH
- LDNPDyQQDF
- AAAAAsGGAG

***With lowercase - 15 length***

- QsEEEKLsPsPTTED
- TLQHVPDyRQNVYIP
- TMGLsARyGPQFTLQ

***With lowercase - 10 length***

- sRDPHyQDPH
- LDNPDyQQDF
- AAAAAsGGAG